.main-block {
  padding-top: 30px;
  padding-bottom: 60px;

  user-select: none;

  color: $color-default-white;
  background: conic-gradient(from 130.31deg at 16.03% 39.06%, $color-venetian-red -46.69deg, $color-dark-cerulean 32.24deg, $color-venetian-red 313.31deg, $color-dark-cerulean 392.24deg);

  @include vp-1199 {
    padding-top: 38px;
    padding-bottom: 81px;
  }

  @include vp-767 {
    padding-top: 18px;
    background: conic-gradient(from 171.43deg at 35.31% 34.22%, $color-venetian-red -46.69deg, $color-dark-cerulean 32.24deg, $color-venetian-red 313.31deg, $color-dark-cerulean 392.24deg);
  }
}

.main-block__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include vp-1199 {
    margin-bottom: 21px;
  }
}

.main-block__content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  row-gap: 30px;

  @include vp-1199 {
    justify-content: space-around;
    padding-left: 0;
  }

  @include vp-767 {
    width: 100%;
    column-gap: 30px;
  }
}

.main-block__logo {
  @include vp-1199 {
    width: 85px;
    height: 18px;
  }

  @include vp-767 {
    width: 68px;
    height: 15px;
  }
}

.main-block__nav {
  flex-grow: 1;
  display: grid;
  justify-content: flex-end;
  gap: 20px;
  flex-wrap: wrap;
}

.main-block__phone {
  user-select: text;

  font-family: $ff-bebas;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;

  color: $color-default-white;

  @include vp-1199 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
}

.main-block__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;

  max-width: 377px;

  padding-top: 111px;
  margin-right: 64px;

  font-family: $ff-bebas;

  @include vp-1199 {
    margin-right: 30px;
    padding-top: 51px;
  }

  @include vp-767 {
    max-width: 100%;
    width: 100%;
    margin-right: 0;
  }
}

.main-block__subtitle {
  font-size: 49px;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 34px;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0.03em;
    text-align: left;
  }

  @include vp-767 {
    margin-bottom: 8px;

    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.main-block__title-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;

  @include vp-1199 {
    width: 324px;
  }

  @include vp-767 {
    width: 291px;
    row-gap: 30px;
  }
}

.main-block__list {
  list-style: none;
  text-align: right;
  margin-right: -35px;
  margin-bottom: 24px;

  font-family: $ff-roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  text-align: right;

  @include vp-1199 {
    margin-bottom: 17px;
    margin-right: -25px;
  }

  @include vp-767 {
    margin-right: -34px;
    margin-bottom: 13px;
  }
}

.main-block__title {
  width: 300px;

  font-family: $ff-bebas;
  font-size: 109px;
  line-height: 109px;
  letter-spacing: 0.03em;
  text-align: right;

  @include vp-1199 {
    width: 235px;

    font-size: 86px;
    line-height: 86px;
    letter-spacing: 0.03em;
    text-align: right;
  }

  @include vp-767 {
    width: 213px;

    font-size: 78px;
    line-height: 78px;
    letter-spacing: 0.03em;
  }
}

.main-block__link {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 60px;
  padding: 17px 53px;

  border: 4px solid $color-default-white;

  text-transform: uppercase;

  font-family: $ff-roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-align: left;

  color: $color-default-white;

  @include vp-1199 {
    padding: 20px 29px;
    margin-top: 40px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.main-block__img {
  @include vp-1199 {
    width: 324px;
    height: 390px;

    object-fit: cover;
  }
  @include vp-767 {
    display: none;
  }
}

.main-block__social-list {
  margin-left: auto;
  margin-top: auto;

  margin-bottom: 45px;
  list-style: none;

  font-family: $ff-roboto;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: right;


  @include vp-1199 {
    display: none;
  }
}

.main-block__social-link {
  font-family: $ff-roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: right;

  color: $color-default-white;
}

.main-block__social-item:not(:last-child) {
  margin-bottom: 18px;
}
